@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  /* background-color: rgb(224, 158, 35); */
  color: rgb(245, 10, 35);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

.navbar {
  background-color: transparent !important;
}
.navbar-brand {
  font-size: 1.9rem;
  color: rgb(255, 0, 0) !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.nav-link {
  font-size: 1.9rem;
  color: rgb(255, 0, 0) !important;
}

.menu_active {
  /* font-weight: bold; */
  border-bottom: 1px solid #eb5c0a;
}

.navbar a:hover {
  color: #ccb647 !important;
}

.carousel-indicators {
  background-color: None !important;
}

.view-more {
  text-align: center;
  margin: auto;
}
/* .container{
    border: 8px solid black;
} */

/* sub nav css */
#subNavHolder {
  background-color: red !important;
}

.dropdown {
  list-style: none !important;
}

.dropdown span {
  color: #ccb647;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: None;
}

.dropdown-content a {
  color: #ccb647;
  padding: 5px;
  border-top: 1px solid;
  margin: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: yellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  text-decoration: none !important;
}

.dropdown span:hover {
  color: yellow;
  text-decoration: none !important;
}

/* HomeImageSlider css */
.main_pages {
  /* background-color: #ccb647 !important; */
  background-image: url('./img/back2.jpg');
}

/* contact us page css */
.contact-us {
  background-image: url('./img/bg_img/contactbg.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-us h5 {
  color: #ffbf00;
}

.contact-us input[type='text'] {
  background-color: #ffbf00bd;
}

.contact-us textarea {
  background-color: #ffbf00bd;
}

.btnContact {
  background-color: #ffbf00;
}

/* footer ka kamaal*/
.footer__option__item li {
  color: red;
  list-style: none;
  text-transform: uppercase;
}

.footer__option__item a:hover {
  text-decoration: none;
}

.footer__option__item span:hover {
  color: green !important;
}
