@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  /* background-color: rgb(224, 158, 35); */
  color: rgb(245, 10, 35);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

.navbar {
  background-color: transparent !important;
}
.navbar-brand {
  font-size: 1.9rem;
  color: rgb(255, 0, 0) !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.nav-link {
  font-size: 1.9rem;
  color: rgb(255, 0, 0) !important;
}

.menu_active {
  /* font-weight: bold; */
  border-bottom: 1px solid #eb5c0a;
}

.navbar a:hover {
  color: #ccb647 !important;
}

.carousel-indicators {
  background-color: None !important;
}

.view-more {
  text-align: center;
  margin: auto;
}
/* .container{
    border: 8px solid black;
} */

/* sub nav css */
#subNavHolder {
  background-color: red !important;
}

.dropdown {
  list-style: none !important;
}

.dropdown span {
  color: #ccb647;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: None;
}

.dropdown-content a {
  color: #ccb647;
  padding: 5px;
  border-top: 1px solid;
  margin: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: yellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  text-decoration: none !important;
}

.dropdown span:hover {
  color: yellow;
  text-decoration: none !important;
}

/* HomeImageSlider css */
.main_pages {
  /* background-color: #ccb647 !important; */
  background-image: url('./img/back2.jpg');
}

/* contact us page css */
.contact-us {
  background-image: url('./img/bg_img/contactbg.jpg');
}

.contact-us h5 {
  color: #ffbf00;
}

.contact-us input[type='text'] {
  background-color: #ffbf00bd;
}

.contact-us textarea {
  background-color: #ffbf00bd;
}

.btnContact {
  background-color: #ffbf00;
}
/* logo colouring */
.fa {
  border-radius: 50%;
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

.fa-google {
  background: #dd4b39;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-youtube {
  background: #bb0000;
}

.fa-instagram {
  background: #125688;
}

.fa-pinterest {
  background: #cb2027;
}

.fa-snapchat-ghost {
  background: #fffc00;
}

.fa-skype {
  background: #00aff0;
}

.fa-android {
  background: #a4c639;
}

.fa-dribbble {
  background: #ea4c89;
}

.fa-vimeo {
  background: #45bbff;
}

.fa-tumblr {
  background: #2c4762;
}

.fa-vine {
  background: #00b489;
}

.fa-foursquare {
  background: #45bbff;
}

.fa-stumbleupon {
  background: #eb4924;
}

.fa-flickr {
  background: #f40083;
}

.fa-yahoo {
  background: #430297;
}

.fa-soundcloud {
  background: #ff5500;
}

.fa-reddit {
  background: #ff5700;
}

.fa-rss {
  background: #ff6600;
}
