@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  /* background-color: rgb(224, 158, 35); */
  color: rgb(245, 10, 35);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

/* .navbar {
  background-color: transparent !important;
} */
.navbar-brand {
  font-size: 1.9rem;
  color: rgb(245, 10, 35) !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.nav-link {
  font-size: 1.9rem;
  color: rgb(245, 10, 35) !important;
}

.menu_active {
  /* font-weight: bold; */
  border-bottom: 1px solid #eb5c0a;
}

.navbar a:hover {
  color: #ccb647 !important;
}

.carousel-indicators {
  background-color: None !important;
}

.view-more {
  text-align: center;
  margin: auto;
}
/* .container{
    border: 8px solid black;
} */
